# dependencies
node_modules/

# next.js
.next/
out/

# env files
.env*
!.env.example

# terraform
terraform/*.tfvars
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl

# misc
*.log
.DS_Store